* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

body {
    display: flex;
    display: -webkit-flex; /* Safari */
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Tahoma', sans-serif;
    font-family: 'Geneva', sans-serif;
}

header, footer, aside, div #view-contact{
    padding: 1em;
}


header {
    align-content: flex-start;
/*    padding: 5px;*/
    height: 25vh;
    font-family: 'Work+Sans', sans-serif;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex: 0 1 auto;
    align-items: center;
/*    background-color:#336B87;*/
    border-bottom: #2A3132 5px solid;
    border-top: #2A3132 5px solid;
/* Improved new gradient*/
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#00028b, endColorstr=white);
    background-image:-moz-linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:-webkit-linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:-o-linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:-ms-linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:-webkit-gradient(linear, right bottom, left top, color-stop(22%,#00028b), color-stop(64%,white),color-stop(81%,#763626));
}

#logo-container-contact {
/*    width: 50%;*/
    height: 100%;
    width: 30%;
    display: inherit;
    background-color: inherit;
/*    border: solid 5px #2A3132;*/
/*    padding-left: 0.5em;*/
}

#logo-contact {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    opacity: 20%;
}

nav {
    width: 100%;
/*    display: inherit;*/
    padding-right: 1em;
/*    margin-left: 1.5em;*/
/*    background-color: inherit;*/
/*
    background-image: url(/Beretta9mm%20copy.jpeg);
    background-size: cover;
*/
    display: flex;
    display: -webkit-flex; /* Safari */
    flex: 0 1 auto;
    flex-flow: row wrap;
    align-items: space-around;
    align-content: flex-start;
}

.nav-menu {
    display: inherit;
    width: 100%;
    list-style-type: none;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
    -webkit-justify-content: flex-end; /* Safari */
    justify-content: flex-end;
    background-color: inherit;
}

.nav-menu li {
    font-size: 25px;
    border: solid, black, 2px;
    background-color: inherit;
    display: inline;
    padding: 5px;
    margin: 25px;
}

.button {
    color: #2A3132;
    text-decoration: none;
    background: #336B87;
    background: linear-gradient(top, #90AFC5, #336B87);
    background: -webkit-linear-gradient(top, #90AFC5, #336B87);
	background: -moz-linear-gradient(top, #90AFC5, #336B87);
	background: -o-linear-gradient(top, #90AFC5, #336B87);
	background: -ms-linear-gradient(top, #90AFC5, #336B87);
/*    outline: #90AFC5 ridge 5px;*/
    padding: 10px;
    background-color: inherit;
    text-align: center;
    font: bold 1em 'Work Sans', sans-serif; 
    -webkit-box-shadow: 0 4px 0 #2A3132;
	-moz-box-shadow: 0 4px 0 #2A3132;
	box-shadow: 0 4px 0 #2A3132;
    text-shadow: 0 1px 1px white;
}

.current-button {
    color: whitesmoke;
    text-decoration: none;
    background: #336B87;
    background: linear-gradient(top, #90AFC5, #336B87);
    background: -webkit-linear-gradient(top, #90AFC5, #336B87);
	background: -moz-linear-gradient(top, #90AFC5, #336B87);
	background: -o-linear-gradient(top, #90AFC5, #336B87);
	background: -ms-linear-gradient(top, #90AFC5, #336B87);
/*    outline: #90AFC5 ridge 5px;*/
    padding: 10px;
    background-color: inherit;
    text-align: center;
    font: bold 1em 'Work Sans', sans-serif; 
    -webkit-box-shadow: 0 4px 0 #2A3132;
	-moz-box-shadow: 0 4px 0 #2A3132;
	box-shadow: 0 4px 0 #2A3132;
    text-shadow: 0 1px 1px #2A3132;
}

#main-contact {
    margin: 0, 20px, 0, 20px;
/*    padding: 5px;*/
    background: #2A3132;
    align-items: stretch;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: column;
/*    flex-direction: row;*/
/*    flex: 3;*/
/*
    height: auto;
    width: auto;
*/
/*
    min-height: 100%;
    max-height: 100%;
*/
    max-width: 100%;
    text-align: center;
    background-image: url(/Images/flag.png);
    background-size: 100%;
/*    opacity: 0.5;*/
    background-color: rgba(255,255,255,0.7);
/*    overflow: hidden;*/
}

/*
#main-background-contact {
    opacity: 0.5;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
*/

#view-container-contact {
    width: 80%;
/*
    min-height: 100%;
    max-height: 100%;
*/
    background: white;
/*
    position: fixed;
    overflow-y: scroll;
*/
    margin: 0 auto;
    display: inherit;
    flex-flow: row wrap;
}

#view-contact {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex: 1 0 50%;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 15px;
    align-items: center;
    justify-content: center;
/*    order: 2;*/
/*
    min-height: 100%;
    max-height: 100%;
*/
}

#view-contact p img {
/*
    width: 40%;
    margin: 10px;
*/
/*    display: inline-block;*/
}
#view-contact img {
    float: right;
}

/*

@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 5 0px; }
    .aside-left { order: 1; } 
    .main    { order: 2; }
    .aside-right { order: 3; }
    .footer  { order: 4; }
}
*/

.copyright {
    margin-right: auto;
    font-size: 0.3em;
}

.footer {
/*    width: 100%;*/
/*    height: 10%;*/
    background-color: #763626;
/*    position: fixed;*/
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row-reverse;
    align-items: center;
}

footer p {
    padding: 1em;
    color: white;
}

/*
footer a img {
    
}*/
