* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

body {
    display: flex;
    display: -webkit-flex; /* Safari */
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Tahoma', sans-serif;
    font-family: 'Geneva', sans-serif;
}

header, footer, aside, div #view{
    padding: 1em;
}


header {
    align-content: flex-start;
    height: 25vh;
    font-family: 'Work+Sans', sans-serif;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    border-bottom: #2A3132 5px solid;
    border-top: #2A3132 5px solid;
/*  Cuts off first section of the main portion of the page */
/*    position: fixed;*/
/* Background */
    /*    background-color:#336B87;*/
/* Improved new gradient*/
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#00028b, endColorstr=white);
    background-image:-moz-linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:-webkit-linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:-o-linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:-ms-linear-gradient(right bottom, #00028b 22%, white 64%,#763626 81%);
    background-image:-webkit-gradient(linear, right bottom, left top, color-stop(22%,#00028b), color-stop(64%,white),color-stop(81%,#763626));
}

#logo-container-contact {
/*    width: 50%;*/
    height: 100%;
    width: 30%;
    display: inherit;
    background-color: inherit;
}

#logo-contact {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    opacity: 20%;
}

/*
#text-contact {
    display: none;
}
*/

nav {
    width: 100%;
    padding-right: 1em;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex: 0 1 auto;
    flex-flow: row wrap;
    align-items: space-around;
    align-content: flex-start;
}

.nav-menu {
    display: inherit;
    width: 100%;
    list-style-type: none;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
    -webkit-justify-content: flex-end; /* Safari */
    justify-content: flex-end;
    background-color: inherit;
}

.nav-menu li {
    font-size: 25px;
    border: solid, black, 2px;
    background-color: inherit;
    display: inline;
    padding: 5px;
    margin: 25px;
}

.button {
    color: #2A3132;
    text-decoration: none;
    background: #336B87;
    background: linear-gradient(top, #90AFC5, #336B87);
    background: -webkit-linear-gradient(top, #90AFC5, #336B87);
	background: -moz-linear-gradient(top, #90AFC5, #336B87);
	background: -o-linear-gradient(top, #90AFC5, #336B87);
	background: -ms-linear-gradient(top, #90AFC5, #336B87);
    padding: 10px;
    background-color: inherit;
    text-align: center;
    font: bold 1em 'Work Sans', sans-serif; 
    -webkit-box-shadow: 0 4px 0 #2A3132;
	-moz-box-shadow: 0 4px 0 #2A3132;
	box-shadow: 0 4px 0 #2A3132;
    text-shadow: 0 1px 1px white;
}

.current-button {
    color: whitesmoke;
    text-decoration: none;
    background: #336B87;
    background: linear-gradient(top, #90AFC5, #336B87);
    background: -webkit-linear-gradient(top, #90AFC5, #336B87);
	background: -moz-linear-gradient(top, #90AFC5, #336B87);
	background: -o-linear-gradient(top, #90AFC5, #336B87);
	background: -ms-linear-gradient(top, #90AFC5, #336B87);
    padding: 10px;
    background-color: inherit;
    text-align: center;
    font: bold 1em 'Work Sans', sans-serif; 
    -webkit-box-shadow: 0 4px 0 #2A3132;
	-moz-box-shadow: 0 4px 0 #2A3132;
	box-shadow: 0 4px 0 #2A3132;
    text-shadow: 0 1px 1px #2A3132;
}

#main-contact {
    margin: 0, 20px, 0, 20px;
    background: #2A3132;
    align-items: stretch;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: column;
    max-width: 100%;
    text-align: center;
/* Background */
    background-color: rgba(255,255,255,0.7);
    background: url(/Images/flag.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#view-container-contact {
    width: 80%;
    margin: 0 auto;
    background: white;
}

#view-contact {
    text-align: left;
    padding: 15px;
    margin: 10px;
    word-wrap: break-word;
    display: block;
    float: left;
}

#view-contact p h1 h3 {
/*
    float: left;
    clear: both;
*/
/*
    width: 40%;
    margin: 10px;
*/
/*    display: inline-block;*/
}

#view-contact img {
    float: right;
    clear: right;
    height: auto;
    width: auto;
    border: #763626 1px solid;
    padding: 5px;
    margin: 5px;
}

#spec-contact {
    display: flex;
    display: -webkit-flex; /* Safari */
    float: none;
    justify-content: center;
}

#spec-contact img{
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

#view-contact h1 {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 2em;
}

#view-contact h3 {
    font-size: 1.5em;
    color: #763626;
}

#view-contact h5 {
    color: #336B87;
    font-style: italic;
}

#view-contact ul li {
    list-style-position: inside;
    padding: 5px;
}

.copyright {
    margin-right: auto;
    font-size: 0.3em;
}

.footer {
    background-color: #763626;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row-reverse;
    align-items: center;
}

footer p {
    padding: 1em;
    color: white;
}

/* Form Styles */
#contact-form {
/*    background-color:#F2F7F9;*/
/*    width:465px;*/
    padding:20px;
    margin: 50px auto;    
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
/*    position:relative;*/
}
 
#contact-form h1 {
    font-size:42px;
}
 
#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width:80%;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}
 
#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
 
#contact-form textarea {
    height:150px;
    resize: none;
}
 
#contact-form label {
    display:block;
}
 
#contact-form .required {
    font-weight:bold;
    color:#F00;    
}
 
#contact-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
/*    float:right;*/
    margin-bottom:6px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}
 
#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}
 
#contact-form #submit-button:active {
/*    position:relative;*/
    top:1px;
}
 
#req-field-desc {
    font-style:italic;
}
 
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
 
/* Normalize placeholder styles */
 
/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}
 
/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}
 
/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
    color:#CCC;
    font-style:italic;
}

/* Media Queries */
@media all and (max-width: 1000px) {
    #logo-container-contact { display:none; }
/*
    #logo-container-contact {
        width: 50%;
        position: relative;
        z-index: -1;
    }
    #text-contact { 
        top:auto;
        color: whitesmoke;
        
    }
*/
}

/*
@media all and (min-width: 800px) {
    .main    { flex: 5 0px; }
    .aside-left { order: 1; } 
    .main    { order: 2; }
    .aside-right { order: 3; }
    .footer  { order: 4; }
}
*/
